/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 0;
  background-color: #000;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

header {
  color: #fff;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  text-align: right;
  color: #fff;
}

/* Custom page footer */
.footer {
  height: 50px;
  z-index: -1;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-top: solid 2px white;
  color: #fff;
  /*background-color: #efefef;*/
  text-align: center;
}

/* Customize container */
@media (min-width: 48em) {
  body {
    padding-bottom: 1.5rem;
  }
  .header h3 {
    text-align: left;
  }
  .container {
    max-width: 46rem;
  }
  .footer {
    position: absolute;
    bottom: 0.5rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}
.nav-link {
  color: #fff;
}

/* Main marketing message and sign up button */
.jumbotron {
  color: #fff;
  background-color: transparent;
  text-align: center;
  border: .1rem solid #e5e5e5;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.5);  
  -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.5);
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

.web-site-name {
  display: flex;
  align-items: baseline;
}

.graph-tooltip {
  position: absolute;
  color: #fff;
  border: .1rem solid #e5e5e5;
  border-radius: 5px;
}

.graph {
  height: 600px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#graph {
  height: 100%;
  width: 100%;
}

#calculate {
  margin-top: 1rem;
}

#calculate-title {
  margin-bottom: 2rem;
}


/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
}

.slider {
  color: #fff;
  text-align: center;
  background-color: #000;
  -webkit-box-shadow: -7px 0px 24px -8px rgba(200, 200, 200, 0.75);
  -moz-box-shadow: -7px 0px 24px -8px rgba(200, 200, 200, 0.75); 
  box-shadow: -7px 0px 24px -8px rgba(200, 200, 200, 0.75);
}

#slider-about {
  padding: 1.5rem;
}

.credit {
  margin-bottom: 3rem;
}

.credit-separator {
  margin-bottom: 1rem;
}

.credit-head {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.name-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: .3rem solid #e5e5e5;
  border-radius: 50px;
}

.icon {
  height: 20px;
  width: 20px;
}

.loader {
    position: absolute;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}