{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
  <div class="header clearfix">
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-4 web-site-name">
        <h3 class="display-4">InstAdvisor</h3>
      </div>
      <div class="col-lg-6">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="#" id="About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="Contacts">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row marketing">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-7">
      <div class="jumbotron graph">
        <div class="loader">

        </div>
        <div id="graph">
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="jumbotron">
        <h1 class="display-4" id="calculate-title">Login</h1>
        <p class="lead">
          <form method=post>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" name=username>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name=password>
              </div>
            </div>
        </p>
        <p>
          <input type="button" class="btn btn-lg btn-outline-success" id='calculate' href="#" role="button" value=Calculate>
        </p>
        </form>
      </div>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
</div>


<div id='slider-about' class="slider">
  <h2 class="display-4 credit-head">About</h2>
  <p></p>
  <h3 class="credit-separator">InstAdvisor</h3>
  <p class="lead">
    Here will be small description of our project. Now I want to test lines.
  </p>
</div>


<div id='slider-contacts' class="slider">
  <h2 class="display-4 credit-head">Contacts</h2>
  <p></p>
  <h3 class="credit-separator">Boss</h3>
  <div class="container-fluid">
    <div class="row credit">
      <div class="col-2">
      </div>
      <div class="col-4">
        <img class="avatar" src="{{ url_for('static', filename='about/lesha.jpg') }}">
      </div>
      <div class="col-6 name-info">
        <h3 class="lead">
          Гончаров
          <br> Алексей <br>
        </h3>
        <div>
          <a href="https://github.com/SecurityQQ">
            <img class="icon" src="{{ url_for('static', filename='about/github.png') }}">
          </a>
          <a href="https://www.linkedin.com/in/aleksandr-malyshev-444656110/">
            <img class="icon" src="{{ url_for('static', filename='about/linkedin.png') }}">
          </a>
        </div>
      </div>
    </div>
  </div>

  <h3 class="credit-separator">Development</h3>
  <div class="container-fluid">
    <div class="row credit">
      <div class="col-2">
      </div>
      <div class="col-4">
        <img class="avatar" src="{{ url_for('static', filename='about/sasha.jpg') }}">
      </div>
      <div class="col-6 name-info">
        <h3 class="lead">
          Малышев
          <br> Александр <br>
        </h3>
        <p>
          <a href="https://github.com/SecurityQQ">
            <img class="icon" src="{{ url_for('static', filename='about/github.png') }}">
          </a>
          <a href="https://www.linkedin.com/in/aleksandr-malyshev-444656110/">
            <img class="icon" src="{{ url_for('static', filename='about/linkedin.png') }}">
          </a>
        </p>
        <br>
      </div>
    </div>
    <div class="row credit">
      <div class="col-2">
      </div>
      <div class="col-4">
        <img class="avatar" src="{{ url_for('static', filename='about/lera.jpg') }}">
      </div>
      <div class="col-6 name-info">
        <h3 class="lead">
          Синевич
          <br> Валерия
        </h3>
        <p>
          <a href="https://github.com/ValeriyaSinevich">
            <img class="icon" src="{{ url_for('static', filename='about/github.png') }}">
          </a>
          <a href="https://www.linkedin.com/in/valeriya-sinevich/">
            <img class="icon" src="{{ url_for('static', filename='about/linkedin.png') }}">
          </a>
        </p>
        <br>
      </div>
    </div>
    <div class="row credit">
      <div class="col-2">
      </div>
      <div class="col-4">
        <img class="avatar" src="{{ url_for('static', filename='about/andy.jpg') }}">
      </div>
      <div class="col-6 name-info">
        <h3 class="lead">
          Зерцалов
          <br> Андрей
        </h3>
        <p>
          <a href="https://www.github.com/zerts/">
            <img class="icon" src="{{ url_for('static', filename='about/github.png') }}">
          </a>
          <a href="https://www.linkedin.com/in/zerts/">
            <img class="icon" src="{{ url_for('static', filename='about/linkedin.png') }}">
          </a>
        </p>
        <br>
      </div>
    </div>
  </div>
</div>
<!-- /container -->
<footer class="footer">
  <p>&copy; MIPT 2017</p>
</footer>
<div class="graph-tooltip">
  <img id="graph-tooltip-img">
</div>
{% endblock %}